/*
  @override http://dfmdeucefunkmonsters.com/site_media/css/styles.css
  @colors:
    green: #22a204
    pink: #f13ce6
*/

@font-face {
  font-family: 'arcade';
  src: url('../fonts/arcadepi-webfont.eot');
  src: local('☺'), url('../fonts/arcadepi-webfont.woff') format('woff'), url('../fonts/arcadepi-webfont.ttf') format('truetype'), url('../fonts/arcadepi-webfont.svg#webfontmxFAxAYZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'retro';
  src: url('../fonts/retroville_nc-webfont.eot');
  src: local('☺'), url('../fonts/retroville_nc-webfont.woff') format('woff'), url('../fonts/retroville_nc-webfont.ttf') format('truetype'), url('../fonts/retroville_nc-webfont.svg#webfont9SYM2KtY') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* RESET ----------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #fff;
    font-weight: normal;
}

body {
    line-height:1;
    background: #000;
    font-family: retro;
    text-transform: uppercase;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    outline: 0;
}

a:hover {
  /*border-bottom: dotted 1px;*/
  background: #333;
  color: #fff!important;
}

li {
  list-style: none;
}

input, select {
    vertical-align:middle;
}

.clear {
  clear: both;
}

.element-invisible { display: none; }

:focus {
  outline: 0;
}

::selection {
  background: #de312a;
  color: #fff;
}

::-moz-selection {
  background: #de312a;
  color: #fff;
}

/* BASE ELEMENTS ----------------------------------------- */

h1 {
  width: 467px;
  height: 143px;
  text-indent: -999999px;
  background: url(../images/logo.png) no-repeat 0 20px;
  padding-top: 20px;
}

h1 a {
  display: block;
  height: 100%;
  width: 100%;
}

h1 a:hover {
  background: url(../images/logo.png) no-repeat 0 0;
}

h2 {
  font-size: 24px;
  color: #22a204;
  padding: 5px 0 20px 0;
}

.inner, #main, .content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* HEADER ----------------------------------------- */

header {
  background: url(../images/bg_dotted_green.png) bottom repeat-x;
}

header .inner {
  height: 185px;
}

nav {
  position: absolute;
  right: 0;
  bottom: 33px;
}

nav a {
  color: #f13ce6;
  font-size: 20px;
}

.social {
  position: absolute;
  top: 35px;
  right: 0;
  text-align: right;
  font-size: 14px;
}

.social a {
  color: #22a204;
}

.social span {
  display: block;
  padding-bottom: 5px;
}

/* HOMEPAGE ----------------------------------------- */

#main {
  padding: 30px 0;
}

#right {
  width: 460px;
  float: left;
}

#shows {
  width: 420px;
  float: left;
  margin: 0 60px 0 0;
}

#shows .show-venue-url a {
  color: #fff;
  text-transform: lowercase;
}

#shows li {
  font-size: 12px;
  margin-bottom: 25px;
}

#shows span {
  display: block;
  padding-bottom: 5px;
  text-transform: none;
  font: 14px Arial;
}

#shows .show-date {
  color: #f13ce6;
  font-size: 14px;
  margin-bottom: 7px;
}

#shows .view-more {
  color: #f13ce6;
  font-size: 12px;
  font-family: Arial;
}

#shows h2 {
  background: url(../images/icon_calendar.png) no-repeat 0 1px;
  padding-left: 43px;
}

#tickets h3 {
  margin-bottom: 20px;
  text-transform: none;
  font: 14px/20px Arial;
}

#tickets form {
  margin-bottom: 20px;
}

#tickets {
  background: url(../images/bg_dotted_green.png) top repeat-x;
  margin-top: 20px;
  padding-top: 20px;
}

#tickets.shows {
  float: left;
  width: 390px;
  background: none;
  padding: 0;
  margin: 0;
}

#music {
  margin: 0 0 20px 0;
}

#music h2 {
  background: url(../images/icon_music.png) no-repeat -3px 1px;
  padding-left: 48px;
}

#news li {
  font-size: 12px;
  background: url(../images/bg_dotted_green.png) repeat-x bottom;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}

#news li p {
  text-transform: none;
  font: 14px/20px Arial;
}

#news h2 {
  background: url(../images/icon_news.png) no-repeat -2px 2px;
  padding-left: 43px;
}

#news li:last-child {
  background: none;
}

#bio {
  clear: both;
  background: url(../images/bg_dotted_green.png) top repeat-x;
  padding: 30px 0;
}

#bio h2 {
  padding: 0;
  margin-bottom: 10px;
}

#bio h3 {
  color: #f13ce6;
  margin: 20px 0;
}

#bio h4 {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

#bio h6 {
  font-size: 12px;
  margin-bottom: 5px;
}

#bio .bio-image {
  width: 280px;
  float: left;
  margin: 0 30px 20px 0;
}

#bio p {
  font-size: 14px;
  padding: 0 0 10px 0;
  line-height: 18px;
  font-family: Arial;
  text-transform: none;
}

/* MEDIA ----------------------------------------- */

#videos {
  margin: 0 0 30px 0;
}

#videos li {
  float: left;
  padding-right: 35px;
}

#videos h2 {
  background: url(../images/icon_video.png) no-repeat -3px -1px;
  padding-left: 43px;
  padding-top: 5px;
}

#videos a:hover,
#pics a:hover {
  background: none;
}

#pics {
  margin: 0 0 30px 0;
}

#pics li {
  float: left;
  padding-right: 35px;
}

#pics h2 {
  background: url(../images/icon_pix.png) no-repeat -3px -1px;
  padding-left: 45px;
  padding-top: 0;
}

.bx-window {
  margin: 0 0 10px 0;
}

.bx-next, .bx-prev {
  color: #f13ce6;
  font-size: 12px;
}

#tunes a {
  color: #f13ce6;
}

#tunes h2 {
  background: url(../images/icon_music.png) no-repeat -3px 2px;
  padding-left: 50px;
  padding-top: 5px;
}

#tunes h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

#tunes .music-file-desc p {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial;
  text-transform: none;
}

#tunes li {
  background: url(../images/bg_dotted_green.png) repeat-x bottom;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}

#tunes li.last {
  background: none;
}

/* FORM ----------------------------------------- */

form {
  /*font-family: Arial;*/
}

label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
  color: #22a204;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 600px;
  margin-bottom: 15px;
  padding: 6px;
  border: 0;
  /*text-transform: uppercase;*/
  font-size: 12px;
}

input[type="submit"] {
  background: #f13ce6;
  border:0;
  color: #fff;
  font-size: 22px;
  font-family: retro;
  text-transform: uppercase;
  cursor: pointer;
}

#submit:hover {
  background-color: #22a204;
}

#sent {
  height: 300px;
}

/* FOOTER ----------------------------------------- */

footer {
  background: url(../images/bg_dotted_green.png) repeat-x top;
  padding: 30px 0;
  font-size: 12px;
  position: relative;
}

footer span {
  display: block;
  margin: 0 0 20px 0;
}

footer a {
  color: #22a204;
}

footer .bx-design {
  position: absolute;
  top: 0;
  right: 0;
}

footer .bx-design a {
  color: #f13ce6;
}
















